@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap');

$main_color: #ba181b;
$sec_color: #656667;
$secondary_color: #161a1d;
$dark_mode_color: #001d3d;
$dark_mode_second_color: rgb(255 131 131 / 47%);
// ------------ ~ sizes ~ ----------
$font_size: 1rem;
$trans: 0.3s;
$radius: 0.25rem;

// ------------ ~ fonts ~ ----------
$main_font: 'Poppins', sans-serif;
